*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  height: 100%;
  padding: rem-calc(60) rem-calc(160);
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(142,197,252);
  background: linear-gradient(90deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
}


